body
    margin 0px
    font-family sans-serif
    .tooltip
        z-index 10
    #wrap
        margin 20px // TODO: remove
        outline 2px solid #eee // TODO: remove
        width 670px
        .container
            .row
                position relative
                float left
                height 200px
                width 100%

                h2
                    font-size 1em
                    margin 0px
                    position absolute
                    top 7px
                    left 7px
                    z-index 2
                .sum
                    position relative

                    width 200px
                    height 200px
                    float left
                    .value
                        background red
                        border-radius 50%
                        margin auto
                        position absolute
                        top 0px
                        left 0px
                        bottom 0px
                        right 0px
                .years
                    position relative
                    width 200px
                    height 200px
                    float left
                    .year
                        position absolute
                        height 200px
                        bottom 0px
                        .value
                            width 100%
                            position absolute
                            background blue
                            bottom 20px
                            .popis
                                color black
                                text-align center
                                font-size 0.72em
                                position absolute
                                width 100%
                                bottom -16px


