@import colors
body
    margin 0px
    font-family sans-serif
    .tooltip
        z-index 10
        max-width 400px
    .hiddenIfIncapableBrowser
        display none
        visibility hidden
        position absolute
        top -5000px
        left -5000px
    #content
        float left
    #wrap
        width 670px
        .selectionRow
            float left
            margin-bottom 10px
            &.bottom
                margin-bottom 0px
            .back
                display block
                float left
                width 100%
                margin-bottom 5px
                &.disabled
                    visibility hidden
                a
                    font-size 0.8em
                    color HNLink
            div
                float left
            .skupina
                width 335px
                select
                    width @width
                .chosen-search
                    width (@width - 10px)
                .chosen-results
                    clear left
            .pohlavi
                width 115px
                margin 0px 15px
                select
                    width @width
                .chosen-search
                    display none
            .vek
                width 190px
                select
                    width @width
                .chosen-search
                    display none
        .container
            .row
                position relative
                float left
                height 200px
                width 100%

                h2
                    font-size 1.1em
                    margin 0px
                    position absolute
                    top 7px
                    left 7px
                    z-index 2
                    &.link
                        span
                            text-decoration none
                            &:hover
                                cursor pointer
                                text-decoration underline
                .sum
                    position relative
                    width 200px
                    height 200px
                    float left
                    .valueContainer
                        font-weight bold
                        width 100%
                        text-align center
                        margin auto
                        position absolute
                        top 0px
                        left 0px
                        bottom 0px
                        right 0px
                        span
                            font-size 0.8em
                .years
                    position relative
                    width 170px
                    margin 0px 15px
                    float left
                    .year
                        position absolute
                        height 100%
                        bottom 0px
                        .value
                            width 100%
                            position absolute
                            bottom 20px
                            background HNBlue
                            .popis
                                color black
                                text-align center
                                font-size 0.7em
                                position absolute
                                width 100%
                                bottom -16px
                                font-weight bold
                        &:hover
                            .value
                                background darken(HNBlue, 15%)
                .map
                    width 270px
                    height 200px
                    path
                        stroke white
                        stroke-width 0.5
                        &:hover
                            opacity 0.85

