body {
  margin: 0px;
  font-family: sans-serif;
}
body .tooltip {
  z-index: 10;
  max-width: 400px;
}
body #wrap {
  margin: 20px;
  width: 670px;
}
body #wrap .selectionRow {
  float: left;
  margin-bottom: 10px;
}
body #wrap .selectionRow div {
  float: left;
}
body #wrap .selectionRow .skupina {
  width: 335px;
}
body #wrap .selectionRow .skupina select {
  width: 335px;
}
body #wrap .selectionRow .skupina .chosen-search {
  width: 325px;
}
body #wrap .selectionRow .skupina .chosen-results {
  clear: left;
}
body #wrap .selectionRow .pohlavi {
  width: 115px;
  margin: 0px 15px;
}
body #wrap .selectionRow .pohlavi select {
  width: 115px;
}
body #wrap .selectionRow .pohlavi .chosen-search {
  display: none;
}
body #wrap .selectionRow .vek {
  width: 190px;
}
body #wrap .selectionRow .vek select {
  width: 190px;
}
body #wrap .selectionRow .vek .chosen-search {
  display: none;
}
body #wrap .container .row {
  position: relative;
  float: left;
  height: 200px;
  width: 100%;
}
body #wrap .container .row h2 {
  font-size: 1.1em;
  margin: 0px;
  position: absolute;
  top: 7px;
  left: 7px;
  z-index: 2;
}
body #wrap .container .row h2 span {
  text-decoration: none;
}
body #wrap .container .row h2 span:hover {
  cursor: pointer;
  text-decoration: underline;
}
body #wrap .container .row .sum {
  position: relative;
  width: 200px;
  height: 200px;
  float: left;
}
body #wrap .container .row .sum .valueContainer {
  font-weight: bold;
  width: 100%;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}
body #wrap .container .row .years {
  position: relative;
  width: 200px;
  height: 200px;
  float: left;
}
body #wrap .container .row .years .year {
  position: absolute;
  height: 200px;
  bottom: 0px;
}
body #wrap .container .row .years .year .value {
  width: 100%;
  position: absolute;
  bottom: 20px;
  background: #85bee6;
}
body #wrap .container .row .years .year .value .popis {
  color: #000;
  text-align: center;
  font-size: 0.72em;
  position: absolute;
  width: 100%;
  bottom: -16px;
  font-weight: bold;
}
body #wrap .container .row .years .year:hover .value {
  background: #58a6dd;
}
body #wrap .container .row .map {
  width: 270px;
  height: 200px;
}
body #wrap .container .row .map path {
  stroke: #fff;
  stroke-width: 0.5;
}
body #wrap .container .row .map path:hover {
  opacity: 0.85;
}
